<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
		<script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
	</head>
	<body>
		<div class="ui text container">
		<a href="/visualizer/"><div>
			<h1 class="ui dividing header center aligned"> NCS Rating Viewer</h1>
		</div></a>
		{% block content %}{% endblock %}
			<div class = "ui grid">
			<div class="ten wide column"></div>
			<div class="six wide column">
				<p>Created By Antilles.</p>
			</div>
			</div>
		</div>

	</body>
</html>